/*Universal Selector*/
*
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
html
{
    background-color: rgb(236,243,249);
}
/*Image Logo*/
/*Logo*/
img.logo {
    border-radius: 1000px;
    float: left;
    width: 125px;
    height: 125px;
    padding-left: 10px;
    padding-top: 5px;
}

/*To change certain hyperlinks*/
a.static
{
    color:white;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    padding-left: 0.1%;
    padding-right: 0.1%;

}
a.static:hover
{
    background-color: rgb(49, 111, 173);
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 3px 10px rgba(128, 128, 128, 0.322);
    
}
a.static2
{
    color:black;
    text-decoration: none;
    cursor: pointer;
    
}

/*For the central image with margin*/
.margin
{
    margin-top: 0px;
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 0.25vw solid rgb(66, 66, 66);

    box-shadow: 3px 10px 10px rgba(128, 128, 128, 0.553);
}

/*Paragraph CSS*/
p
{
    font-family: sans-serif;
    margin-top: 2vw;
    font-size: 25px;
    line-height: 1;
}

/*TO make font big*/
.big
{
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.553);;
}

/*For tables*/
table
{
    font-size: 20px;
    width: 70%;
}

table.second
{
    font-size: 20px;
    width: 100%;
}

/*For headers*/
.sticky
{
  position: sticky;
  box-shadow: 5px 13px 10px rgba(128, 128, 128, 0.553);
  background-color: #559de6;
  top: 0px;
  width: 100%;
}

iframe
{
    display: block;
    width: 75%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
